* {

  margin: 0;
  color: #61656d;
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 24px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.box {
  width: 798px;
  background-color: #ffffff;
  border-radius: 5px;
 padding: 20px;
 box-sizing: border-box;
}

.title {
  text-transform: uppercase;
  color: #ff6a28;
  font-weight: 700;
  font-size: 20px;
}

.sub-title {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
}

.image {
  margin-top: 14px;
  width: 100%;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-box {
  background-color: #f0f0f0;
  width: 118px;
  height: 85px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.info-strong{
  color: #ff6a28;

}

.member-box{background-color: #f0f0f0;
  width: 238px;
  height: 85px;
  border-radius: 5px;
  display: flex;
  
}

.member-img{
  padding: 12px;

}

.info-member{
  padding-top: 26px;
display: block;
  color: #ff6a28;
}
